.additional-product-card {
  padding: 12.5px 0 17px 0;

  @include font(14px, 14px);

  border-top: 1px solid $pinkish-grey;

  &:last-child {
    border-bottom: 1px solid $pinkish-grey;
  }
}

.additional-product-card__title {
  margin-bottom: 14px;
  padding-left: 0.714%;

  @include font(16px, 16px);

  color: $middle-text-color;
  text-transform: uppercase;
}

.additional-product-card__features {
  margin-bottom: 15px;
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.additional-product-card__features-item {
  padding: 0;
}

.additional-product-card__features-item:first-child {
  width: 70%;
}

.additional-product-card__features-item:last-child {
  text-align: right;
  width: 30%;
}

@media (min-width: $tablet-width) {
  .additional-product-card {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px 5.085% 27px 5.226%;

    @include font(16px, 20px);

    border: 1px solid rgba($pinkish-grey, 0.5);

    &:last-child {
      border-bottom: 1px solid rgba($pinkish-grey, 0.5);
    }
  }

  .additional-product-card__title {
    @include font(20px, 20px);
    padding-left: 0;
    margin: 0;
  }

  .additional-product-card__link {
    width: 100%;
    margin-top: 23px;
  }

  .additional-product-card__features {
    width: 49.921%;
    margin: 0;
    margin-top: 8px;
    padding-top: 10px;
    border-collapse: collapse;
  }

  .additional-product-card__features-item {
    padding: 0;

    text-align: right;
  }

  .additional-product-card__features-item:first-child {
    width: 70.3%;
  }
}

@media (min-width: $desktop-width) {
  .additional-product-card {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 15px 0 16px;

    border: 0 none;
    border-top: 1px solid $pinkish-grey;

    &:last-child {
      border-bottom: 1px solid $pinkish-grey;
    }
  }

  .additional-product-card__title {
    margin: 0;
  }

  .additional-product-card__features {
    width: 35.196%;
    margin: 0 1.118% 0 auto;
    margin-left: auto;

    table-layout: fixed;
  }

  .additional-product-card__features-item {
    text-align: left;
    padding-top: 8px;
  }

  .additional-product-card__features-item:first-child {
    width: 77.5%;
    padding-right: 3.049%;
  }

  .additional-product-card__features-item:last-child {
    width: auto;
    word-break: break-all;
    text-align: left;
  }

  .additional-product-card__link {
    width: 27.375%;
    margin-top: 0;
  }
}
