.copyright {
  display: flex;
  justify-content: space-between;
  padding: 22px 0 28px 0;
}

.copyright__link {
  padding-top: 7px;
  text-decoration: none;
  color: $light-text-color;
}

.copyright__icon {
  fill: #666666;
  pointer-events: none;
}

.copyright__icon-link:focus .copyright__icon,
.copyright__icon-link:hover .copyright__icon {
  fill: $leaf-green;
}

.copyright__link:active,
.copyright__icon-link:active .copyright__icon {
  opacity: 0.3;
}

.copyright__icon-link:active .copyright__icon {
  fill: $leaf-green;
}

@media (min-width: $tablet-width) {
  .copyright {
    width: 22.881%;
    justify-content: space-between;
    margin-left: auto;
    padding: 0;
  }

  .copyright__icon {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .copyright {
    width: 13.443%;
  }
}
