.example {
  min-height: 705px;
  padding: 17px $mobile-center 35px;

  @include font(14px, 18px);
  background-color: $light-grey;
}

.example__title {
  margin-bottom: 24px;
}

.example__description {
  margin: 0;
  margin-bottom: 26px;
  padding-right: 2%;
}

.example__results-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 20px;
}

.example__result-list-wrapper {
  width: 44.286%;
}

.example__result {
  padding: 15px 0;

  @include font(24px, 24px);
  @include Oswald-font;

  text-align: center;
  color: $dark-text-color;

  text-transform: uppercase;

  border: 1px solid $pinkish-grey;
  border-radius: 3px;
}

.example__result-description {
  width: 70.17%;
  margin: 0 auto;
  margin-top: -9px;

  @include font(12px, 12px);

  text-align: center;

  background-color: $light-grey;
}

.example__expenses {
  margin: 0;

  @include font(14px, 20px);
  @include Oswald-font;

  text-align: center;
  color: $dark-text-color;

  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .example {
    padding: 0;

    @include font(16px, 24px);

    background-color: #ffffff;
  }

  .example__description {
    width: 100%;
    padding-right: 4.52%;
  }

  .example__results-list {
    width: 51.695%;
  }

  .example__result-description {
    background-color: #ffffff;
  }

  .example__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 241px;
  }
}

@media (min-width: $desktop-width) {
  .example {
    padding: 0;
    background-image: linear-gradient(to right, $light-grey 50%, $grey 50%);
  }

  .example__header {
    width: 100%;
    padding-bottom: 53px;

    background-color: #ffffff;
  }

  .example__wrapper {
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to right, $light-grey 76.639%, $grey 76.639%);
    background-color: white;
  }

  .example__content {
    flex-direction: column;
    width: 35.656%;

    padding: 0;
  }

  .example__description {
    width: 100%;
    padding-right: 0;
  }

  .example__results-list {
    width: auto;
  }

  .example__result-list-wrapper {
    width: 37.242%;
  }

  .example__result-description {
    background-color: $light-grey;
  }
}
