.headlines {
  margin: 0;

  font-weight: normal;

  @include font($headline-font-size, $headline-line-height);
  @include Oswald-font;

  color: $dark-text-color;
}

@media (min-width: $tablet-width) {
  .headlines {
    @include font(60px, 60px);
  }
}
