.location__description {
  display: flex;
  justify-content: space-between;
  margin-bottom: 26px;
  padding: 27px $mobile-center 26px;
}

.location--index {
  background-color: #ffffff;
}

.location__headline,
.location__address {
  margin: 0;
}

.location__headline {
  max-width: 124px;
  font-weight: normal;
  flex-shrink: 0;

  @include font(16px, 20px);
  @include Oswald-font;

  color: $dark-text-color;

  text-transform: uppercase;
}

.location__address {
  max-width: 135px;

  @include font(14px, 20px);
}

.location__map {
  display: block;
  border: none;
  width: 100%;
  max-width: 100%;
}

@media (min-width: $tablet-width) {
  .location__description {
    padding: 60px 5.791%;
  }

  .location__address {
    text-align: right;
  }
}

@media (min-width: $desktop-width) {
  .location {
    position: relative;
  }

  .location__description {
    width: 39.584%;
    padding: 60px 0;
    max-width: 570px;
    position: absolute;
    background-color: #ffffff;
  }

  .location__address {
    padding-right: 15.769%;
    max-width: 100%;
  }

  .location__headline {
    padding-left: 13.333%;
    max-width: 100%;
  }

  .location__map {
    min-height: 400px;
  }
}
