.location__description {
  display: flex;
  justify-content: space-between;
  margin-bottom: 26px;
  padding: 27px $mobile-center 26px;
}

.location__description--index {
  background-color: #ffffff;
}

.location__headline,
.location__address {
  margin: 0;
}

.location__headline {
  max-width: 124px;
  font-weight: normal;
  flex-shrink: 0;

  @include font(16px, 20px);
  @include Oswald-font;

  color: $dark-text-color;

  text-transform: uppercase;
}

.location__address {
  max-width: 135px;

  @include font(14px, 20px);
}

.location__map {
  border: none;
  width: 100%;
  max-width: 100%;
}

@media (min-width: $tablet-width) {
  .location__description {
    padding: 60px 9.245%;
  }
}
