.main-page {
  padding-top: 15px;
  padding-bottom: 32px;
}

.main-page--index {
  padding-top: 0;
  padding-bottom: 0;
}

.main-page__promo {
  margin-bottom: 22px;
}

.main-page__programs-overview {
  margin-bottom: 18px;
}

.main-page__product-application {
  margin-bottom: 46px;
}

@media (min-width: $tablet-width) {
  .main-page {
    padding-top: 33px;
    padding-bottom: 75px;
  }

  .main-page--index {
    padding: 0;
  }

  .main-page__promo {
    margin-bottom: 0;
  }

  .main-page__programs-overview {
    margin-bottom: 46px;
  }

  .main-page__product-application {
    margin-bottom: 97px;
  }

  .main-page__product-catalog {
    margin-bottom: 66px;
  }
}

@media (min-width: $desktop-width) {
  .main-page {
    padding-top: 48px;
    padding-bottom: 82px;
  }

  .main-page--index {
    padding: 0;
  }

  .main-page__promo {
    margin-bottom: 80px;
  }

  .main-page__programs-overview {
    margin-bottom: 72px;
  }

  .main-page__product-application {
    margin-bottom: 77px;
  }

  .main-page__product-catalog {
    margin-bottom: 74px;
  }
}
