.main-navigation {
  font-size: 20px;
  line-height: 20px;
  font-family: "Oswald Medium", "Arial", sans-serif;
  text-align: center;
  text-transform: uppercase;
}

.main-navigation__link {
  display: block;
  padding: 22px 0;

  color: $dark-text-color;

  text-decoration: none;

  border-bottom: 1px solid #e6e6e6;
}

.main-navigation__list {
  @include lists-reset;
}

.main-navigation__toggle {
  position: absolute;
  top: 23px;
  right: 5.938%;

  width: 7.813%;
  height: 19px;

  background-color: transparent;
  background-image: url("../img/icon-mobile-menu.svg");
  background-repeat: no-repeat;

  border: none;
}

@media (max-width: $mobile-width-only) {
  .main-navigation--closed .main-navigation__list {
    display: none;
  }

  .main-navigation--nojs .main-navigation__list {
    display: block;
  }

  .main-navigation--nojs .main-navigation__toggle {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .main-navigation {
    width: 62.006%;

    @include font(18px, 25px);
    @include Oswald-font;
  }

  .main-navigation__list {
    display: flex;
    justify-content: space-between;
  }

  .main-navigation__link {
    padding: 18px 0 7px 0;
    border-bottom: 0 none;
  }

  .main-navigation__link:hover,
  .main-navigation__link:focus {
    opacity: 0.6;
  }

  .main-navigation__link:active {
    opacity: 0.3;
  }

  .main-navigation__link--active {
    border-bottom: 2px solid $leaf-green;
  }

  .main-navigation__toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-navigation {
    width: 39.2%;

    @include font(20px, 25px);
  }

  .main-navigation__list {
    justify-content: space-between;
  }

  .main-navigation__link {
    padding-top: 15px;
    padding-bottom: 8px;
  }

  .main-navigation--index .main-navigation__link {
    color: #ffffff;
  }

  .main-navigation--index .main-navigation__link--active {
    border-bottom: 2px solid #ffffff;
  }
}
