.more-goods {
  padding: 26px $mobile-center 24px;

  border: 1px solid #ededed;
  border-top: none;
}

.more-goods__headline {
  display: block;

  font-weight: normal;

  @include Oswald-font;
  @include font (16px, 20px);

  color: $dark-text-color;

  text-align: center;
  text-transform: uppercase;
}

.more-goods__description {
  @include font(12px, 16px);

  text-align: center;
}

.more-goods__show-all {
  color: $light-text-color;

  background-color: $light-grey;
}

@media (min-width: $tablet-width) {
  .more-goods {
    border: 1px solid $pinkish-grey;
    border-bottom: 1px solid $pinkish-grey;
  }
}
