.more-goods {
  display: block;
  padding-top: 26px;
  padding-bottom: 24px;

  border: 1px solid $white-five;
  border-top: none;
}

.more-goods__headline {
  display: block;
  margin-bottom: 8px;

  font-weight: normal;

  @include Oswald-font;
  @include font (16px, 20px);

  color: $dark-text-color;

  text-align: center;
  text-transform: uppercase;
}

.more-goods__description {
  margin: 0;
  margin-bottom: 21px;

  text-align: center;
}

.more-goods__show-all {
  color: $light-text-color;

  background-color: $light-grey;
}

.more-goods__show-more {
  display: block;
  width: 31px;
  height: 31px;
  margin: 0 auto 22px;

  background-color: transparent;
  background-image: url("../img/icon-plus-mobile.svg");

  border: 0 none;

  opacity: 0.2;
}

@media (min-width: $tablet-width) {
  .more-goods {
    align-self: flex-end;
    padding: 54px 5.226% 39px 5.368%;
    background-color: white;
    background-image: none;


    border: 1px solid $pinkish-grey;
    border-bottom: 1px solid $pinkish-grey;
  }

  .more-goods__show-more {
    width: 61px;
    height: 61px;
    margin-bottom: 48px;

    background-image: url("../img/icon-plus.svg");
  }

  .more-goods__headline {
    width: 54.252%;
    margin: 0 auto 26px;

    @include font (20px, 20px);
  }

  .more-goods__description {
    line-height: normal;
    width: 67.612%;
    margin: 0 auto 85px;
  }
}

@media (min-width: $desktop-width) {
  .more-goods {
    padding-left: 3.115%;
    padding-right: 3.115%;
  }

  .more-goods__headline {
    width: 80.839%;
  }

  .more-goods__description {
    width: 100%;
  }
}
