.page-footer {
  background-color: $light-grey;
}

.page-footer__location {
  margin-bottom: 38px;
}


.page-footer__logo-link {
  display: inline-block;
  vertical-align: top;
  margin: 0 auto 27px;
  width: 45.715%;
}

.page-footer__logo-image {
  width: 100%;
}

.page-footer__wrapper {
  padding: 0 $mobile-center;

  text-align: center;
}

.page-footer__logo-link[href]:focus,
.page-footer__logo-link[href]:hover {
  opacity: 0.8;
}

.page-footer__logo-link[href]:active {
  opacity: 0.6;
}

@media (min-width: $tablet-width) {
  .page-footer {
    padding-bottom: 57px;
  }

  .page-footer__wrapper {
    display: flex;
    align-items: flex-end;
    padding: 17px 0 0;
  }

  .page-footer__copyright {
    margin-left: auto;
  }

  .page-footer__logo-link {
    display: block;
    margin: 0;
    margin-right: 22.034%;
    width: 18.08%;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    padding-top: 20px;
  }

  .page-footer__logo-link {
    width: 10.492%;
    margin-right: 413px;
  }
}
