.page-footer {
  background-color: $light-grey;
}

.page-footer__location {
  margin-bottom: 39px;
}

.page-footer__logo-image {
  display: block;
  margin: 0 auto 31px;
  width: 45.714%;
}

.page-footer__wrapper {
  padding: 0 $mobile-center;
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0 0;
  }

  .page-footer__copyright {
    display: flex;
    padding: 0;
  }

  .page-footer__logo-image {
    margin: 0;
    width: 18.079%;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    padding-top: 20px;
  }
}
