.page-header {
  position: relative;
}

.page-header__logo {
  display: block;
  padding: 11px 6.25% 15px;

  border-bottom: 1px solid #e6e6e6;
}

.page-header__logo-image {
  display: block;
  width: percent-size(191px, 280px);
}
