.product-application {
  @include font(14px, 18px);
}

.product-application__list {
  @include lists-reset;
}

.product-application__title {
  margin: 0;
  margin-bottom: 30px;

  font-weight: normal;

  @include Oswald-font;
  @include font(36px, 60px);
}
