.product-application {
  padding: 0 $mobile-center;

  @include font(14px, 18px);
}

.product-application__list {
  @include lists-reset;
}

.product-application__item {
  margin-bottom: 27px;

  &:last-child {
    margin-bottom: 0;
  }
}

.product-application__title {
  margin-bottom: 31px;
}

@media (min-width: $tablet-width) {
  .product-application {
    padding: 0;
  }

  .product-application__item {
    margin-bottom: 0;
    margin-top: 83px;

    &:nth-child(-n+2) {
      margin-top: 0;
    }
  }

  .product-application__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    counter-reset: property-number;
  }

  .product-application__title {
    margin-bottom: 72px;
  }
}

@media (min-width: $desktop-width) {
  .product-application__item {
    margin-top: 0;
  }
}
