.product-card {
  padding: 0 $mobile-center 24px;

  border: 1px solid #ededed;
  border-top: none;

  &:first-child {
    border-top: 1px solid #ededed;
  }
}

.product-card__product-link {
  @include Oswald-font;
  @include link;

  color: $dark-text-color;
}

.product-card__title {
  font-weight: normal;

  @include font(16px, 20px);
}

@media (min-width: $tablet-width) {
  .product-card {
    width: 45.763%;
    margin-top: 140px;
    padding: 40px 0;

    border: 0 none;

    &:nth-child(-n+2) {
      margin-top: 0;
    }

    &:first-child {
      border-top: 0 none;
    }
  }
}

@media (min-width: $desktop-width) {
  .product-card {
    width: 20.082%;

    &:nth-child(-n+4) {
      margin-top: 0;
    }
  }
}
