.product-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 5.938% 24px;

  border: 1px solid #ededed;
  border-top: none;

  &:first-child {
    border-top: 1px solid #ededed;
  }
}

.product-card__product-link {
  @include Oswald-font;
  @include link;

  color: $dark-text-color;
}

.product-card__title {
  padding-right: 47.102%;
  margin-bottom: 13px;


  font-weight: normal;

  @include font(16px, 20px);
}

.product-card__buy-link {
  width: 100%;
}

.product-card__image {
  display: block;
}

.product-card__content {
  width: calc(100% - 140px);
  padding-top: 8px;
}

.product-card__features {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.product-card__features-item {
  padding: 0;
}

.product-card__features-item:nth-child(2n) {
  text-align: right;
}

@media (min-width: $tablet-width) {
  .product-card {
    flex-direction: column;
    align-items: center;
    width: 45.763%;
    margin-top: 58px;
    padding: 0 0 40px;

    background-image: linear-gradient(transparent 82px, $light-grey 82px);


    border: 0 none;

    &:nth-child(-n+2) {
      margin-top: 0;
    }

    &:first-child {
      border-top: 0 none;
    }
  }

  .product-card__content {
    width: 76.852%;
  }

  .product-card__title {
    width: 52.209%;
    margin: 0 auto 18px;
    padding: 0;

    @include font(20px, 20px);
    text-align: center;
  }

  .product-card__features-item {
    position: relative;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .product-card__features-item::after {
    content: "";
    display: block;
    background-color: $pinkish-grey;
    position: absolute;
    bottom: -1px;
    width: 100%;
    height: 1px;
  }

  .product-card__features {
    margin-bottom: 34px;
  }

  .product-card__product-image-link {
    margin-bottom: 29px;
  }

  .product-card__buy-link {
    width: 76.852%;
  }

  .product-card__image--small {
    padding-top: 34px;
  }

  .product-card__image--chicken {
    padding-top: 36px;
  }
}

@media (min-width: $desktop-width) {
  .product-card {
    width: 20.082%;
    margin-top: 61px;

    &:nth-child(-n+4) {
      margin-top: 0;
    }
  }

  .product-card__content,
  .product-card__buy-link {
    width: 68.98%;
  }

  .product-card__title {
    width: 76.924%;
  }
}
