.program {
  position: relative;

  padding: 31px 7.143% 18px;

  @include font(14px, 18px);

  background-color: $light-grey;

  &::before {
    content: "";

    position: absolute;
    top: 16px;
    left: 4.643%;

    display: block;
    width: 68px;
    height: 68px;

    background-repeat: no-repeat;
  }
}

.program--slim::before {
  background-image: url("../img/icon-cat-slim.svg"),
    radial-gradient(circle, $leaf-green 25px, transparent 26px);

  background-size: 35px 49px, auto;
  background-position: center 6px, 0 0;
}

.program--pro::before {
  background-image: url("../img/icon-cat-pro.svg"),
    radial-gradient(circle, $leaf-green 24px, transparent 25px);

  background-size: 67px 28px, auto;
  background-position: center, 0 0;
}

.program::after {
  content: "";

  position: absolute;
  bottom: 56px;

  display: block;
  height: 1px;
  width: 85.714%;

  background-color: black;

  opacity: 0.1;
}

.program__title {
  position: relative;

  margin: 0;
  margin-bottom: 30px;
  padding-left: 29.412%;

  font-weight: normal;

  @include font(24px, 37px);
  @include Oswald-font;

  text-transform: uppercase;
  color: $dark-text-color;
}

.program__description {
  margin: 0;
  margin-bottom: 43px;
}

.program__link {
  position: relative;

  @include font(16px, 16px);
  @include Oswald-font;
  color: $dark-text-color;

  @include link;

  &::after {
    content: "";

    position: absolute;
    bottom: 5px;
    right: -45px;

    display: block;
    width: 34px;
    height: 12px;

    background-image: url("../img/icon-right-arrow-verylong.svg");
    background-repeat: no-repeat;
    background-position: -9px 0;
  }
}

.program__link:active {
  opacity: 0.3;
}

.program__link:focus::after,
.program__link:hover::after {
  background-position: 0 0;
}

@media (min-width: $tablet-width) {
  .program {
    padding: 78px 39.972% 56.6px 7.345%;

    @include font(16px, 24px);

    &::before {
      left: auto;
      right: 3.955%;
      top: 59px;

      width: 268px;
      height: 268px;
    }

    &::after {
      display: none;
    }
  }

  .program--slim::before {
    background-image: url("../img/icon-cat-slim.svg"),
      radial-gradient(circle, $leaf-green 100px, transparent 101px);

    background-size: 141px 194px, auto;
    background-position: center 21px, 0 0;
  }

  .program--pro::before {
    background-image: url("../img/icon-cat-pro.svg"),
      radial-gradient(circle, $leaf-green 100px, transparent 101px);

    background-size: 268px 113px, auto;
    background-position: center, 0 0;
  }

  .program--pro {
    padding: 78px 44.492% 56px 7.345%;
  }

  .program__title {
    margin-bottom: 24px;
    padding: 0;

    @include font(36px, 37px);
  }

  .program__description {
    margin-bottom: 55px;
  }

  .program__link {
    @include font(20px, 20px);

    &::after {
      bottom: 8px;
      right: -56px;
    }
  }
}

@media (min-width: $desktop-width) {
  .program {
    width: 46.722%;
    padding: 75px 4.263% 57px;

    &::before {
      left: 34px;
      right: auto;
      top: 30px;

      width: 135px;
      height: 135px;
    }
  }

  .program--slim::before {
    background-image: url("../img/icon-cat-slim.svg"),
      radial-gradient(circle, $leaf-green 50px, transparent 51px);

    background-size: 71px 97px, auto;
    background-position: center 11px, 0 0;
  }

  .program--pro::before {
    background-image: url("../img/icon-cat-pro.svg"),
      radial-gradient(circle, $leaf-green 50px, transparent 51px);

    background-size: 134px 57px, auto;
    background-position: center, 0 0;
  }

  .program__title {
    padding-left: 35.1%;
    margin-bottom: 74px;
  }

  .program__description {
    margin-bottom: 31px;
  }
}
