.program-selection {
  @include font(14px, 18px);
  @include Oswald-font;

  color: $dark-text-color;
  text-transform: uppercase;
}

.program-selection__description-wrapper {
  margin-bottom: 39px;
  padding: 0 $mobile-center;
}

.program-selection__title {
  margin-bottom: 25.8px;

  text-transform: none;
}

.program-selection__description {
  margin: 0;
}

@media (min-width: $tablet-width) {
  .program-selection {
    padding: 0;

    @include font(20px, 20px);
  }

  .program-selection__description-wrapper {
    margin-bottom: 67px;
    padding: 0;
  }

  .program-selection__description {
    line-height: 30px;
    padding: 0 5.226% 0 5.65%;
  }

  .program-selection__title {
    margin-bottom: 55px;
  }
}

@media (min-width: $desktop-width) {
  .program-selection__description {
    padding: 0;
  }
}
