.program-selection__description {
  @include font(14px, 18px);
  @include Oswald-font;

  color: $dark-text-color;
  text-transform: uppercase;
}

.program-selection__description-wrapper {
  padding: 0 $mobile-center;
}

@media (min-width: $tablet-width) {
  .program-selection {
    padding: 0;
  }

  .program-selection__description-wrapper {
    padding: 0;
  }
}
