.social-list {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include lists-reset;

  padding: 22px 29.286% 17px 26.071%;

  border-top: 1px solid $social-list-border;
  border-bottom: 1px solid $social-list-border;
}

.social-list__link {
  display: block;
}

.social-list__image {
  fill: $icon-color;

  pointer-events: none;
}

.social-list__link:active .social-list__image,
.social-list__link:hover .social-list__image {
  fill: $leaf-green;
}

.social-list__link:active .social-list__image {
  fill: $leaf-green;
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .social-list {
    padding: 0;
    width: 17.514%;

    border: 0 none;
  }

  .social-list__image--vk {
    width: 30px;
    height: 16px;
  }

  .social-list__image--inst {
    width: 23px;
    height: 23px;
  }

  .social-list__image--fb {
    width: 14px;
    height: 28px;
  }
}

@media (min-width: $desktop-width) {
  .social-list {
    width: 123px;
  }
}
