@font-face {
  font-family: "Oswald";
  src:
    local("Oswald"),
    local("Oswald-Regular"),
    url("../fonts/oswaldregular.woff2") format("woff2"),
    url("../fonts/oswaldregular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: "Oswald Medium";
  src:
    local("Oswald Medium"),
    local("Oswald-Medium"),
    url("../fonts/oswaldMedium.woff2") format("woff2"),
    url("../fonts/oswaldMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: optional;
}
