@mixin lists-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin font($size, $line-height) {
  font-size: $size;
  line-height: $line-height;
}

@mixin Oswald-font {
  font-family: "Oswald", "Arial", sans-serif;
}

@mixin link {
  text-transform: uppercase;
  text-decoration: none;
  color: $dark-text-color;
}

@mixin form-text {
  @include font(16px, 18px);
  @include Oswald-font;

  text-transform: uppercase;
}
