$light-grey: #f2f2f2;
$leaf-green: #68b738;
$dark-text-color: #111111;
$middle-text-color: #222222;
$light-text-color: #444444;
$property-number-color: #f2f2f2;
$green-button-hvr: #5eaa2f;
$grey-button-hvr: #ebebeb;
$scale-color: #dcdcdc;
$headline-font-size: 36px;
$headline-line-height: 60px;
$pinkish-grey: #cdcdcd;
$white-five: #ededed;
$grey: #eaeaea;
$icon-color: #666666;
$mobile-center: 6.25%;
$tablet-center: 3.907%;
$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1300px;
$retina-dppx: 1.5dppx;
